body{
    background: linear-gradient(to right, #56ab2f, #a8e063);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.register-box{
    background: white;
    padding: 40px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

h1{
    color: green;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

button{
    width: 100%;
    padding: 12px;
    background: green;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background: darkgreen;
}


