body {

  font-family: Arial;
  padding: 20px;

}

h1 {

  color: green;

}

#searchInput {

  padding: 10px;
  width: 250px;
  margin-bottom: 20px;

}

table {

  border-collapse: collapse;

}

th, td {

  padding: 12px;
  text-align: center;

}

th {

  background-color: green;
  color: white;

}

button {

  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;

}